rect {
  fill-opacity: 0.2;
  stroke-opacity: 0.75;
  fill: magenta;
  stroke: red;
}
rect.page-number {
  fill-opacity: 0.90;
  stroke-opacity: 0.90;
  fill: white;
  stroke: blue;
}
rect.glyph {
  fill-opacity: 0.90;
  stroke-opacity: 0.90;
  fill: white;
  stroke: green;
}
rect.line {
  fill-opacity: 0.90;
  stroke-opacity: 0.90;
  fill: white;
  stroke: yellowgreen;
}
